#shelfContainer {
	background-color: #693a00;
	width: 50%;
	height: 100%;
	/* position: absolute; */
	margin: auto;
	margin-top: 1.5vh;

	display: flex;
	flex-direction: column;

	padding-bottom: 1vh;
}

#arrowButtonContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 1vh;
}

#leftArrowButton , #rightArrowButton {
	position: relative;
	background-color: #3498db;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
	display: flex;
	align-items: center;

	position: absolute;
}

/* Left arrow */
#leftArrowButton::before {
	content: "";
	display: inline-block;
	margin-right: 8px;
	width: 8px;
	height: 8px;
	border-left: 3px solid white;
	border-bottom: 3px solid white;
	transform: rotate(45deg);
}

/* Right arrow */
#rightArrowButton::after {
	content: "";
	display: inline-block;
	margin-left: 8px;
	width: 8px;
	height: 8px;
	border-right: 3px solid white;
	border-top: 3px solid white;
	transform: rotate(45deg);
}

/* Hover effect */
#leftArrowButton:hover , #rightArrowButton:hover {
	background-color: #2980b9;
}

#binScreen{
	background-color: antiquewhite;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99;
	/* left: 100px; */
	overflow-y: hidden;
	overflow-x:hidden;
}

#binName{
	width:1000px;
	height:50px;
	color:black;
	padding: 15px;
	position: relative;
	left: 430px;
	font-weight: bold;
}

#quantity{
	width:1000px;
	height:50px;
	color:black;
	padding:15px;
	position: relative;
	right: 20px;
	top:50px;
	border-radius: 100px;
}


input[type=text] {
	width: 100%;
	padding: 12px;
	margin: 10px 0;
	box-sizing: border-box;
	background-color: gray;
	color:white;
	border-radius: 15px;
  }

  input[type=number] {
	width: 100%;
	padding: 12px;
	margin: 10px 0;
	box-sizing: border-box;
	background-color: gray;
	color:white;
	border-radius: 15px;
  }

  input::placeholder{
	color:white;
  }

  input::grammar-error{
	background-color: red;
  }


#uploadFile{
	color:black;
	left:20px;
	-ms-flex-align: center;
	Top:100px;
	border-radius: 100px;
}